.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
section {
  display: flex;
}
p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  text-align: justify;
}
h1 {
  font-size: 50px;
  font-family: "PT Sans Narrow", sans-serif;
  text-indent: 5px;
  line-height: 0.5;
  color: grey;
}
.middle-banner {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 40px;
  color: white;
  font-weight: 700;
  border-radius: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.one-third-width {
  width: 25%;
  box-shadow: 0px 4px 8px gray;
  padding: 15px;
  border-radius: 10px;
  margin-left: 5%;
}
.one-third-width img {
  width: 100%;
}
.recipi-text {
  text-align: center;
  padding-left: 250px;
  padding-right: 255px;
}
.full-width {
  width: 100%;
  padding-left: 5%;
}
footer {
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  background-color: rgb(43, 40, 40);
  height: 200px;
}
.address {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.address-div {
  width: 22%;
  margin-left: 30px;
  padding-left: 20px;
  margin-right: 25px;
  text-align: justify;
}
.food-color {
  color: orange;
}
.village-color {
  color: wheat;
}
.footer-text {
  color: beige;
}
body {
  margin: 0px;
}
